**Actividad 3.1 (Valores Nulos)**

Importar librerias

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Lectura documento de Naples con las 50 variables elegidas entre el equipo

In [2]:
data = pd.read_csv('Naples_50Var.csv', encoding="iso-8859-1")
data.head()

,id,last_scraped,name,description,neighborhood_overview,picture_url,host_name,host_since,host_about,host_response_time,...,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,reviews_per_month
0,30466.0,17/09/2024,Naturists rooms in the heart of city,Right in the heart of Napoli you can walk any...,"close to 2 underground lines, next to bus stop...",https://a0.muscache.com/pictures/miso/Hosting-...,Gigi,11/04/2014,Innamorato della bellezza quindi la cerco in o...,NaN,...,4.67,4.67,5.00,4.67,5.00,5.00,4.67,NaN,f,0.18
1,30536.0,17/09/2024,cosy room to let in naples,Oriental decorated apartment with wonderful te...,"Centrally located,close to public transport, i...",https://a0.muscache.com/pictures/171280/92fe69...,Gigi,11/04/2014,Innamorato della bellezza quindi la cerco in o...,NaN,...,4.74,4.83,4.72,4.83,4.78,4.44,4.56,NaN,f,0.11
2,63413.0,17/09/2024,Charming Room on Riviera di Chiaia,Centrally located and at walking distance to t...,The house is located in a lively and popular n...,https://a0.muscache.com/pictures/389538/99361e...,Paola,04/12/2010,Le Stanze dei Pollano - this is our website,within a few hours,...,4.65,4.78,4.50,4.92,4.82,4.73,4.68,NaN,f,0.93
3,74364.0,17/09/2024,Cozy place in a princely Palace inside Old Town,A really cozy studio (24 square meters) in a p...,The flat is in the OLD TOWN od Napoli with 2 m...,https://a0.muscache.com/pictures/c8a48f3d-1be3...,Davide,17/11/2010,"Architecture, art, archeology, good food.",within an hour,...,4.89,4.88,4.92,4.96,4.97,4.84,4.89,NaN,f,1.68
4,76993.0,17/09/2024,"Central Cebollitas B&B, spacious private ensuite.","A bright, sunny home in vomero area (on a hill...","La casa di Cebollitas si trova a Napoli, Campa...",https://a0.muscache.com/pictures/miso/Hosting-...,Cebollitas,26/02/2011,Cebollitas is a homely modern b&b situated in...,within an hour,...,4.97,4.90,4.94,4.90,4.98,4.92,4.94,NaN,f,0.52

InformaciÃ³n del DataFrame

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11027 entries, 0 to 11026
Data columns (total 50 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           11027 non-null  float64
 1   last_scraped                 11027 non-null  object
 2   name                         11027 non-null  object
 3   description                  10754 non-null  object
 4   neighborhood_overview        5504 non-null   object
 5   picture_url                  11027 non-null  object
 6   host_name                    11027 non-null  object
 7   host_since                   11027 non-null  object
 8   host_about                   4025 non-null   object
 9   host_response_time           8559 non-null   object
 10  host_response_rate           8431 non-null   float64
 11  host_acceptance_rate         9301 non-null   float64
 12  host_is_superhost            10639 non-null  object
 13  host_listings_count          11027 non-null  int64
 14  host_total_listings_count    11027 non-null  int64
 15  host_verifications           11027 non-null  object
 16  host_has_profile_pic         11027 non-null  object
 17  host_identity_verified       11027 non-null  object
 18  neighbourhood                5504 non-null   object
 19  property_type                11027 non-null  object
 20  room_type                    11027 non-null  object
 21  accommodates                 11027 non-null  int64
 22  bathrooms                    10348 non-null  float64
 23  bathrooms_text               11011 non-null  object
 24  bedrooms                     10916 non-null  float64
 25  beds                         10325 non-null  float64
 26  amenities                    11027 non-null  object
 27  price                        10356 non-null  float64
 28  minimum_nights               11027 non-null  int64
 29  maximum_nights               11027 non-null  int64
 30  calendar_updated             0 non-null      float64
 31  has_availability             10995 non-null  object
 32  availability_30              11027 non-null  int64
 33  availability_60              11027 non-null  int64
 34  availability_365             11027 non-null  int64
 35  calendar_last_scraped        11027 non-null  object
 36  number_of_reviews            11027 non-null  int64
 37  number_of_reviews_ltm        11027 non-null  int64
 38  number_of_reviews_l30d       11027 non-null  int64
 39  last_review                  8578 non-null   object
 40  review_scores_rating         8578 non-null   float64
 41  review_scores_accuracy       8577 non-null   float64
 42  review_scores_cleanliness    8577 non-null   float64
 43  review_scores_checkin        8577 non-null   float64
 44  review_scores_communication  8578 non-null   float64
 45  review_scores_location       8577 non-null   float64
 46  review_scores_value          8578 non-null   float64
 47  license                      1538 non-null   object
 48  instant_bookable             11027 non-null  object
 49  reviews_per_month            8578 non-null   float64
dtypes: float64(16), int64(11), object(23)
memory usage: 4.2+ MB

Identificar valores nulos por columna

In [13]:
valores_nulos = data.isnull().sum()
valores_nulos

id                                 0
last_scraped                       0
name                               0
description                      273
neighborhood_overview           5523
picture_url                        0
host_name                          0
host_since                         0
host_about                      7002
host_response_time              2468
host_response_rate              2596
host_acceptance_rate            1726
host_is_superhost                388
host_listings_count                0
host_total_listings_count          0
host_verifications                 0
host_has_profile_pic               0
host_identity_verified             0
neighbourhood                   5523
property_type                      0
room_type                          0
accommodates                       0
bathrooms                        679
bathrooms_text                    16
bedrooms                         111
beds                             702
amenities                          0
price                            671
minimum_nights                     0
maximum_nights                     0
calendar_updated               11027
has_availability                  32
availability_30                    0
availability_60                    0
availability_365                   0
calendar_last_scraped              0
number_of_reviews                  0
number_of_reviews_ltm              0
number_of_reviews_l30d             0
last_review                     2449
review_scores_rating            2449
review_scores_accuracy          2450
review_scores_cleanliness       2450
review_scores_checkin           2450
review_scores_communication     2449
review_scores_location          2450
review_scores_value             2449
license                         9489
instant_bookable                   0
reviews_per_month               2449
dtype: int64

Identificar valores nulos por DataFrame

In [15]:
valores_nulos = data.isnull().sum().sum()
valores_nulos

np.int64(70271)

**MÃ©todos de SustituciÃ³n**

In [16]:
data1 = data.copy()

**Por Promedio**

DescripciÃ³n: En este mÃ©todo, vemos como se pueden rellenar los valores nulos de ciertas columnas en el DataFrame data1 utilizando la media (promedio) de esas mismas columnas en el DataFrame data original.

In [22]:
# data1[""] = data1[""].fillna(round(data[""].mean(),1))
data1["host_response_rate"] = data1["host_response_rate"].fillna(round(data["host_response_rate"].mean(),1))
data1["host_acceptance_rate"] = data1["host_acceptance_rate"].fillna(round(data["host_acceptance_rate"].mean(),1))
data1["bathrooms"] = data1["bathrooms"].fillna(round(data["bathrooms"].mean(),1))
data1["bedrooms"] = data1["bedrooms"].fillna(round(data["bedrooms"].mean(),1))
data1["beds"] = data1["beds"].fillna(round(data["beds"].mean(),1))
data1["price"] = data1["price"].fillna(round(data["price"].mean(),1))
data1["review_scores_rating"] = data1["review_scores_rating"].fillna(round(data["review_scores_rating"].mean(),1))

**Por mediana**

DescripciÃ³n: En este mÃ©todo, vemos como rellenar los valores nulos en varias columnas del DataFrame data1 utilizando la mediana de esas mismas columnas en el DataFrame data, cuyos resultados se redondean a un decimal.

In [26]:
data1["review_scores_accuracy"] = data1["review_scores_accuracy"].fillna(round(data["review_scores_accuracy"].median(),1))
data1["review_scores_cleanliness"] = data1["review_scores_cleanliness"].fillna(round(data["review_scores_cleanliness"].median(),1))
data1["review_scores_checkin"] = data1["review_scores_checkin"].fillna(round(data["review_scores_checkin"].median(),1))
data1["review_scores_communication"] = data1["review_scores_communication"].fillna(round(data["review_scores_communication"].median(),1))
data1["review_scores_location"] = data1["review_scores_location"].fillna(round(data["review_scores_location"].median(),1))
data1["review_scores_value"] = data1["review_scores_value"].fillna(round(data["review_scores_value"].median(),1))
data1["reviews_per_month"] = data1["reviews_per_month"].fillna(round(data["reviews_per_month"].median(),1))

# data1[""] = data1[""].fillna(round(data[""].median(),1))

**Por String Concreto**

DescripciÃ³n: En este mÃ©todo se encarga de rellenar los valores nulos en varias columnas del DataFrame data1 con la cadena de texto "Sin especificar".

In [28]:
data1["description"] = data1["description"].fillna("Sin especificar")
data1["neighborhood_overview"] = data1["neighborhood_overview"].fillna("Sin especificar")
data1["host_about"] = data1["host_about"].fillna("Sin especificar")
data1["host_response_time"] = data1["host_response_time"].fillna("Sin especificar")
data1["host_is_superhost"] = data1["host_is_superhost"].fillna("Sin especificar")
data1["neighbourhood"] = data1["neighbourhood"].fillna("Sin especificar")
data1["bathrooms_text"] = data1["bathrooms_text"].fillna("Sin especificar")
data1["calendar_updated"] = data1["calendar_updated"].fillna("Sin especificar")
data1["has_availability"] = data1["has_availability"].fillna("Sin especificar")
data1["last_review"] = data1["last_review"].fillna("Sin especificar")
data1["license"] = data1["license"].fillna("Sin especificar")

**Corroborar Valores Absolutos**

In [29]:
valores_nulos = data1.isnull().sum()
valores_nulos

id                             0
last_scraped                   0
name                           0
description                    0
neighborhood_overview          0
picture_url                    0
host_name                      0
host_since                     0
host_about                     0
host_response_time             0
host_response_rate             0
host_acceptance_rate           0
host_is_superhost              0
host_listings_count            0
host_total_listings_count      0
host_verifications             0
host_has_profile_pic           0
host_identity_verified         0
neighbourhood                  0
property_type                  0
room_type                      0
accommodates                   0
bathrooms                      0
bathrooms_text                 0
bedrooms                       0
beds                           0
amenities                      0
price                          0
minimum_nights                 0
maximum_nights                 0
calendar_updated               0
has_availability               0
availability_30                0
availability_60                0
availability_365               0
calendar_last_scraped          0
number_of_reviews              0
number_of_reviews_ltm          0
number_of_reviews_l30d         0
last_review                    0
review_scores_rating           0
review_scores_accuracy         0
review_scores_cleanliness      0
review_scores_checkin          0
review_scores_communication    0
review_scores_location         0
review_scores_value            0
license                        0
instant_bookable               0
reviews_per_month              0
dtype: int64

In [30]:
valores_nulos = data1.isnull().sum().sum()
valores_nulos

np.int64(0)

**Convertir DataSet sin valores nulos a CSV**

In [31]:
# Covertir DataFrame a CSV
data1.to_csv("Naples_sin_nulos.csv")